@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900');

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}

body {
  font-family: 'Lato', sans-serif;
  background-image: url("images/cryptocurrency-coding-digital-black-background-open-source-blockchain-concept.jpg");
}

a {
  text-decoration: none;
  text-align: justify, center;
  text-size-adjust: auto;
  color: #CF0A0A;
}

a:hover {
  color : black;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  display: inline;
}

.btn-red {
  background-color: #CF0A0A;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 16px 24px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
}

.fa-brands {
  color: #CF0A0A;
  font-size: 40px;
}


img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
}

.card {
  background-color: #D8DADC;
  border-radius: 8px;
  box-shadow: 0 4px 10px #b0b4b6;
  width: 70%;
  margin: 24px auto;
  padding: 32px;
  text-align: center;
}
